{% extends "base.html" %}
{% block content %}

<form  style="margin:2cm 10cm 2cm 10cm;border:1px solid red" method="post">
	<h3>玉米现货价格</h3>
		<p>
			日期： <input type="text" value="20180808" id="date" size="4">&nbsp;&nbsp;
			黑龙江价格: <input type="number" value="1400" id="heiPrice" size="4">&nbsp;&nbsp;
			锦州港价格：<input type="number" value="1600" id="jinzhouPrice" maxlength="4">
		</p>
		<p>------------------------------------------------------</p>

	<h3>大豆现货价格</h3>
		<p>
			日期： <input type="text" value="20180808" id="date" size="4">&nbsp;&nbsp;
			嫩江价格: <input type="number" value="3400" id="heiPrice" size="4">&nbsp;&nbsp;
			大连价格：<input type="number" value="3600" id="dalianPrice" maxlength="4">
		</p>
		<p>------------------------------------------------------</p>
	<button type="submit" id="loginBtn" style="height:30px;width:100px;"><font size="5">提交</font></button>
  </form>
<button onclick="temp()">ShowTime</button>
<p id = "timeid"></p>
{% endblock %}