<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>玉米临储拍卖</title>
    <!-- 引入 echarts.js -->
    <!-- <script src="js/echarts.js"></script> -->
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
    <!-- <p>{{l1}}</p> -->
    <font size="6" color="blue"><p align="center">拍卖成交</p></font>
    <div>
        <table  id="corntempres" border="1" cellpadding="10" align="center">
            {% for row in tempRes_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb = document.getElementById("corntempres"); 
        tb.rows[2].cells[0].style.display='none';
        tb.rows[3].cells[0].style.display='none';
        tb.rows[4].cells[0].style.display='none';
        tb.rows[1].cells[0].rowSpan = 4;
        tb.rows[5].cells[1].style.display='none';
        tb.rows[5].cells[0].colSpan = 2;
        for(var i=0; i<8;i++){
            tb.rows[5].cells[i].style.color = 'red';
        }

        tb.rows[7].cells[0].style.display='none';
        tb.rows[8].cells[0].style.display='none';
        tb.rows[9].cells[0].style.display='none';
        tb.rows[6].cells[0].rowSpan = 4;
        tb.rows[10].cells[1].style.display='none';
        tb.rows[10].cells[0].colSpan = 2;
        for(var i=0; i<8;i++){
            tb.rows[10].cells[i].style.color = 'yellowgreen';
        }
        tb.rows[11].cells[1].style.display='none';
        tb.rows[11].cells[0].colSpan = 2;
        tb.rows[11].cells[6].style.color = 'red';
        tb.rows[11].cells[6].style.fontSize = "30px";
        tb.rows[11].cells[7].style.color = 'green';
        tb.rows[11].cells[7].style.fontSize = '30px';

    </script>

    <font size="6" color="blue"><p align="center">拍卖量价走势图</p></font>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="tempres" class="chart600"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('tempres'), 'vintage');
        var myl1 = {{l1|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: [
            {
                text: '黑龙江',
                x:'25%',
                textAlign:'center'
                // textStyle:{
                //     color:'black',
                //     fontSize:28,
                // }
            },{
                text: '吉林',
                x:'75%',
                textAlign:'center'
            },{
                text: '辽宁',
                x:'25%',
                y:'49%',
                textAlign:'center'
            },{
                text: '内蒙',
                x:'75%',
                y:'49%',
                textAlign:'center'
            }
            ],
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            grid: [
                {x: '7%', y: '7%', width: '38%', height: '38%'},
                {x2: '7%', y: '7%', width: '38%', height: '38%'},
                {x: '7%', y2: '7%', width: '38%', height: '38%'},
                {x2: '7%', y2: '7%', width: '38%', height: '38%'}
            ],
            legend: {
                data:['2014成交率', '2015成交率', '2014成交价', '2015成交价'],
                y:'49%',
            },
            xAxis: [{
                type:'category',
                gridIndex: 0,
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        return texts.join('/');
                    },
                },
                // data: []
            },{
                type:'category',
                gridIndex: 1,
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        return texts.join('/');
                    },
                }
            },{
                type:'category',
                gridIndex: 2,
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        return texts.join('/');
                    },
                }
            },{
                type:'category',
                gridIndex: 3,
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        return texts.join('/');
                    },
                }                    
            }            
            ],
            yAxis: [
                {
                    gridIndex: 0, 
                    type:'value', 
                },{
                    gridIndex: 0, 
                    type:'value',
                    min:function(value){
                        return value.min-10
                    }
                },{
                    gridIndex: 1, 
                    type:'value',
                },{
                    gridIndex: 1, 
                    type:'value',
                    min:function(value){
                        return value.min-10
                    }
                },{
                    gridIndex: 2,
                    type:'value',
                },{
                    gridIndex: 2,
                    type:'value',
                    min:function(value){
                        return value.min-10
                    }
                },{
                    gridIndex: 3,
                    type:'value',
                },{
                    gridIndex: 3,
                    type:'value',
                    min:function(value){
                        return value.min-10
                    }
                }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', '2014cjl_hlj', '2015cjl_hlj', '2014p_hlj', '2015p_hlj', '2014cjl_jl', '2015cjl_jl', '2014p_jl', '2015p_jl', '2014cjl_ln', '2015cjl_ln', '2014p_ln', '2015p_ln', '2014cjl_nm', '2015cjl_nm', '2014p_nm', '2015p_nm'],
                source: myl1
            },
            series: [
                {
                    name: '2014成交率',
                    xAxisIndex: 0,
                    yAxisIndex:0,
                    type: 'bar',
                    barWidth:'20%',
                    // symbol:'none',
                    // symbolSize:0,
                    // itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '2015成交率',
                    xAxisIndex: 0,
                    yAxisIndex:0,
                    type: 'bar',
                    barWidth:'20%',
                    color:"yellowgreen",
                    // color:"yellowgreen",
                    // itemStyle:{
                    //     normal:{
                    //         color:function(params){
                    //             console.log(params);
                    //             if (params.data.NorthCarryoutChange>0) {return 'red'} else {return 'green'}
                    //         }
                    //     }
                    // }
                    // data: {{l4s}}
                },
                {
                    name: '2014成交价',
                    xAxisIndex: 0,
                    yAxisIndex:1,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                    // itemStyle: {normal: {lineStyle: {width: 3}}},
                    // data: {{l4s}}
                },{
                    name: '2015成交价',
                    xAxisIndex: 0,
                    yAxisIndex:1,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2014成交率',
                    xAxisIndex: 1,
                    yAxisIndex:2,
                    type: 'bar',
                    barWidth:'20%',
                },{
                    name: '2015成交率',
                    xAxisIndex: 1,
                    yAxisIndex:2,
                    type: 'bar',
                    barWidth:'20%',
                    color:"yellowgreen",
                },{
                    name: '2014成交价',
                    xAxisIndex: 1,
                    yAxisIndex:3,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2015成交价',
                    xAxisIndex: 1,
                    yAxisIndex: 3,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2014成交率',
                    xAxisIndex: 2,
                    yAxisIndex:4,
                    type: 'bar',
                    barWidth:'20%',
                },{
                    name: '2015成交率',
                    xAxisIndex: 2,
                    yAxisIndex:4,
                    type: 'bar',
                    barWidth:'20%',
                    color:"yellowgreen",
                },{
                    name: '2014成交价',
                    xAxisIndex: 2,
                    yAxisIndex:5,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2015成交价',
                    xAxisIndex: 2,
                    yAxisIndex:5,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2014成交率',
                    xAxisIndex: 3,
                    yAxisIndex:6,
                    type: 'bar',
                    barWidth:'20%',
                },{
                    name: '2015成交率',
                    xAxisIndex: 3,
                    yAxisIndex:6,
                    type: 'bar',
                    barWidth:'20%',
                    color:"yellowgreen",
                },{
                    name: '2014成交价',
                    xAxisIndex: 3,
                    yAxisIndex:7,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                },{
                    name: '2015成交价',
                    xAxisIndex: 3,
                    yAxisIndex:7,
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:'15',
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
    </script>
<!--     <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('kgl_lr'), 'vintage');
        var myl1 = {{l1|tojson}};
        console.log(myl1);
        var option = {
            title: {
                text: 'deepprocessing'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            // emphasis: {
            //     itemStyle: {
            //         color: 'blue'
            //     },
            //     label: {
            //         show: true,
            //         formatter: 'This is a emphasis label.'
            //     
            // },
            legend: {
                data:['开工率', '黑龙江利润', '吉林利润']
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                }
                // data: []
            },
            yAxis: [
                {
                    // name:'NorthCarryouy',
                    type:'value',
                    min:function(value){
                        return value.min-20
                    },
                    position:'left'
                },
                {
                    // name:'NorthCarryouyChange',
                    type:'value',
                    position:'right',
                    offset:50
                },
                {
                    // name:'JinzhouPrice',
                    type:'value',
                    min:function(value){
                        return value.min-50
                    },
                    position:'right'
                }
            ],
            dataZoom: [
                {
                    type: 'slider',
                    start:0,
                    end:100
                }
            ],
            dataset:{
                dimensions: ['date', '68cs_db_kgl', 'cs_hlj_lr', 'cs_jl_lr'],
                source: myl1
            },
            series: [
                {
                    name: '开工率',
                    yAxisIndex:0,
                    type: 'line',
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '黑龙江利润',
                    yAxisIndex:1,
                    type: 'bar',
                    color:'green'
                    // data: {{l4s}}
                },
                {
                    name: '吉林利润',
                    yAxisIndex:2,
                    type: 'bar'
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
    </script> -->

    <script type="text/javascript">
        window.onresize = function(){
            myChart1.resize()
            // myChart2.resize()
            // myChart3.resize()
            // myChart4.resize()
        }
    </script>

</body>
</html>