<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>玉米基差 1-5-9</title>
    <!-- 引入 echarts.js -->
    <!-- <script src="js/echarts.js"></script> -->
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
    <!-- <p>{{corn_basis_l}}</p> -->
    <div align="center">
        <h1><b><font size="6", color="red">玉米期现基差图</font></b></h1>
    </div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="basis1" class="chart600"></div>
    <div id="basis5" class="chart600"></div>
    <div id="basis9" class="chart600"></div>
    <div id="cornbasis" class="chart600"></div>

    <script type="text/javascript">
        // function fetchData(cb) {
        //     // 通过 setTimeout 模拟异步加载
        //     setTimeout(function () {
        //         cb({
        //             categories: corn_year_basis_df.index,
        //             data: l4
        //         });
        //     }, 3000);
        // }
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('basis1'), 'vintage');
        var my_corn_year_basis1_l = {{corn_year_basis1_l|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '现货-期货1月基差',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            // emphasis: {
            //     itemStyle: {
            //         color: 'blue'
            //     },
            //     label: {
            //         show: true,
            //         formatter: 'This is a emphasis label.'
            //     
            // },
            legend: {
                data:['2019', '2018', '2017', '2016', '2015'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        // var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                }
                // data: []
            },
            yAxis: {},
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', '2019basis1', '2018basis1', '2017basis1', '2016basis1', '2015basis1'],
                source: my_corn_year_basis1_l
            },
            series: [
                {
                    name: '2019',
                    type: 'line',
                    color:'black',
                    symbol:'triangle',
                    symbolSize:8
                    // data: {{l4}}
                },
                {
                    name: '2018',
                    type: 'line',
                    symbol:'rect',
                    symbolSize:6
                    // data: {{l4}}
                },
                {
                    name: '2017',
                    type: 'line',
                    symbol:'diamond',
                    symbolSize:8
                    // data: {{l4s}}
                },
                {
                    name: '2016',
                    type: 'line',
                    // data: {{l4s}}
                },
                {
                    name: '2015',
                    type: 'line'
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);

        // fetchData(function (data) {
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis: {
        //             data: data.categories
        //         },
        //         series: [{
        //             // 根据名字对应到相应的系列
        //             name: '销量',
        //             data: data.data
        //         }]
        //     });
        // });
        // $.get('data.json').done(function (data){
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis:{
        //             data: data.categories
        //         },
        //         series:[{
        //             name:'2018basis1',
        //             data:data.data
        //         }]
        //     })
        // })
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('basis5'), 'vintage');
        var my_corn_year_basis5_l = {{corn_year_basis5_l|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '现货-期货5月基差',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            // emphasis: {
            //     itemStyle: {
            //         color: 'blue'
            //     },
            //     label: {
            //         show: true,
            //         formatter: 'This is a emphasis label.'
            //     
            // },
            legend: {
                data:['2019', '2018', '2017', '2016', '2015'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        // var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                }
                // data: []
            },
            yAxis: {},
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', '2019basis5', '2018basis5', '2017basis5', '2016basis5', '2015basis5'],
                source: my_corn_year_basis5_l
            },
            series: [
                {
                    name: '2019',
                    type: 'line',
                    color:'black',
                    symbol:'triangle',
                    symbolSize:8
                    // data: {{l4}}
                },
                {
                    name: '2018',
                    type: 'line'
                    // data: {{l4}}
                },
                {
                    name: '2017',
                    type: 'line'
                    // data: {{l4s}}
                },
                {
                    name: '2016',
                    type: 'line'
                    // data: {{l4s}}
                },
                {
                    name: '2015',
                    type: 'line'
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('basis9'), 'vintage');
        var my_corn_year_basis9_l = {{corn_year_basis9_l|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '现货-期货9月基差',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            // emphasis: {
            //     itemStyle: {
            //         color: 'blue'
            //     },
            //     label: {
            //         show: true,
            //         formatter: 'This is a emphasis label.'
            //     
            // },
            legend: {
                data:['2019', '2018', '2017', '2016', '2015'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        // var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                }
                // data: []
            },
            yAxis: {},
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', '2019basis9', '2018basis9', '2017basis9', '2016basis9', '2015basis9'],
                source: my_corn_year_basis9_l
            },
            series: [
                {
                    name: '2019',
                    type: 'line',
                    color:'black',
                    symbol:'triangle',
                    symbolSize:8
                    // data: {{l4}}
                },
                {
                    name: '2018',
                    type: 'line'
                    // data: {{l4}}
                },
                {
                    name: '2017',
                    type: 'line'
                    // data: {{l4s}}
                },
                {
                    name: '2016',
                    type: 'line'
                    // data: {{l4s}}
                },
                {
                    name: '2015',
                    type: 'line'
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option);
    </script>

    <script type="text/javascript">
        var myChart4 = echarts.init(document.getElementById('cornbasis'), 'vintage');
        var my_corn_basis_l = {{corn_basis_l|tojson}};
        var option = {
            title: {
                text: '玉米基差',
                left:80
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['基差1月', '基差5月', '基差9月']
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                }
                // data: []
            },
            yAxis: {},
            dataZoom: [
                {
                    type: 'slider',
                    start:0,
                    end:100
                }
            ],
            dataset:{
                dimensions: ['date', 'basis1', 'basis5', 'basis9'],
                source: my_corn_basis_l
            },
            series: [
                {
                    name: '基差1月',
                    type: 'line'
                    // data: {{l4}}
                },
                {
                    name: '基差5月',
                    type: 'line'
                    // data: {{l4s}}
                },
                {
                    name: '基差9月',
                    type: 'line'
                    // data: {{l4}}
                }
            ]
        };
        myChart4.setOption(option);
    </script>

    <script type="text/javascript">
        window.onresize = function(){
            myChart1.resize()
            myChart2.resize()
            myChart3.resize()
            myChart4.resize()
        }
    </script>
</body>
</html>