<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>南北港库存替代品</title>
    <!-- 引入 echarts.js -->
    <!-- <script src="js/echarts.js"></script> -->
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
    <!-- <p>{{l5}}</p> -->
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="northPort" class="chart600"></div>
    <div id="southPort" class="chart600"></div>
    <div id="profit" class="chart600"></div>
    <div id="inportPrice" class="chart600"></div>

    <script type="text/javascript">
        // function fetchData(cb) {
        //     // 通过 setTimeout 模拟异步加载
        //     setTimeout(function () {
        //         cb({
        //             categories: corn_year_basis_df.index,
        //             data: l4
        //         });
        //     }, 3000);
        // }
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('northPort'), 'vintage');
        var myl1 = {{l1|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '北港库存-价格',
                left:'center',
                // textStyle:{
                //     color:'black',
                //     fontSize:28,
                // }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['北港库存', '库存周度变化', '锦州港价格'],
                y:30,
                // textStyle:{
                //     color:'black',
                //     fontSize:20,
                // }
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    },
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            var date = new Date(params.value);
                            var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                            return texts.join('/');
                        },
                    }
                },
                // data: []
            },
            yAxis: [
                {
                    name:'库存',
                    type:'value',
                    min:function(value){
                        return (value.min-20).toFixed(2);
                    }
                },
                {
                    name:'周变',
                    type:'value'
                },
                {
                    name:'价格',
                    type:'value',
                    position:'right',
                    offset:30,
                    min:function(value){
                        return value.min-50
                    }
                }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', 'NorthCarryout', 'NorthCarryoutChange', 'JinzhouPrice'],
                source: myl1
            },
            series: [
                {
                    name: '北港库存',
                    yAxisIndex:0,
                    type: 'line',
                    // symbol:'none',
                    // symbolSize:0,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '库存周度变化',
                    yAxisIndex:1,
                    type: 'bar',
                    color:"yellowgreen",
                    // itemStyle:{
                    //     normal:{
                    //         color:function(params){
                    //             console.log(params);
                    //             if (params.data.NorthCarryoutChange>0) {return 'red'} else {return 'green'}
                    //         }
                    //     }
                    // }
                    // data: {{l4s}}
                },
                {
                    name: '锦州港价格',
                    yAxisIndex:2,
                    type: 'line',
                    connectNulls:true,
                    color:'DarkSlateGray',
                    itemStyle: {normal: {lineStyle: {width: 3}}},
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);

        // fetchData(function (data) {
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis: {
        //             data: data.categories
        //         },
        //         series: [{
        //             // 根据名字对应到相应的系列
        //             name: '销量',
        //             data: data.data
        //         }]
        //     });
        // });
        // $.get('data.json').done(function (data){
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis:{
        //             data: data.categories
        //         },
        //         series:[{
        //             name:'2018basis1',
        //             data:data.data
        //         }]
        //     })
        // })
    </script>

    <script type="text/javascript">
        // function fetchData(cb) {
        //     // 通过 setTimeout 模拟异步加载
        //     setTimeout(function () {
        //         cb({
        //             categories: corn_year_basis_df.index,
        //             data: l4
        //         });
        //     }, 3000);
        // }
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('southPort'), 'vintage');
        var myl2 = {{l2|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '南港库存-价格',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['广东港口库存', '广东内贸库存', '广东进口库存', '库存周度变化', '广东港口价格'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            var date = new Date(params.value);
                            var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                            return texts.join('/');
                        },
                    }
                },
                // data: []
            },
            yAxis: [
                {
                    name:'库存',
                    type:'value',
                    min:function(value){
                        return value.min
                    }
                },
                {
                    name:'周变',
                    type:'value'
                },
                {
                    name:'价格',
                    type:'value',
                    position:'right',
                    offset:30,
                    min:function(value){
                        return value.min-50
                    }
                }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', 'GDCarryout', 'GDnmCarryout', 'GDjkCarryout', 'GDCarryoutChange', 'GDPrice'],
                source: myl2
            },
            series: [
                {
                    name: '广东港口库存',
                    yAxisIndex:0,
                    type: 'line',
                    color:'Crimson',
                    // symbol:'none',
                    // symbolSize:0,
                    // itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '广东内贸库存',
                    yAxisIndex:0,
                    type: 'line',
                    stack: '总量',
                    symbol:'none',
                    // symbolSize:0,
                    itemStyle: {normal: {areaStyle: {color: 'Brown'}}},
                    // data: {{l4}}
                },
                {
                    name: '广东进口库存',
                    yAxisIndex:0,
                    type: 'line',
                    stack: '总量',
                    symbol:'none',
                    color:'Brown',
                    // symbolSize:0,
                    itemStyle: {normal: {areaStyle: {color: 'Red'}}},
                    // data: {{l4}}
                },
                {
                    name: '库存周度变化',
                    yAxisIndex:1,
                    type: 'bar',
                    color:'yellowgreen'
                    // data: {{l4s}}
                },
                {
                    name: '广东港口价格',
                    yAxisIndex:2,
                    type: 'line',
                    symbol:'none',
                    color:'DarkSlateGray',
                    connectNulls:true,
                    itemStyle: {normal: {lineStyle: {width: 3}}},
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);

        // fetchData(function (data) {
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis: {
        //             data: data.categories
        //         },
        //         series: [{
        //             // 根据名字对应到相应的系列
        //             name: '销量',
        //             data: data.data
        //         }]
        //     });
        // });
        // $.get('data.json').done(function (data){
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis:{
        //             data: data.categories
        //         },
        //         series:[{
        //             name:'2018basis1',
        //             data:data.data
        //         }]
        //     })
        // })
    </script>

    <script type="text/javascript">
        // function fetchData(cb) {
        //     // 通过 setTimeout 模拟异步加载
        //     setTimeout(function () {
        //         cb({
        //             categories: corn_year_basis_df.index,
        //             data: l4
        //         });
        //     }, 3000);
        // }
        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('profit'), 'vintage');
        var myl3 = {{l3|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '贸易利润',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['广东港口库存/北港库存', '散船贸易利润'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            var date = new Date(params.value);
                            var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                            return texts.join('/');
                        },
                    }
                },
                // data: []
            },
            yAxis: [
                {
                    name:'广东库存/北方库存',
                    type:'value',
                    min:0.01
                },
                {
                    name:'贸易利润',
                    type:'value'
                }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', 'CarryoutSpread', 'profit'],
                source: myl3
            },
            series: [
                {
                    name: '广东港口库存/北港库存',
                    yAxisIndex:0,
                    type: 'line',
                    // symbol:'none',
                    // symbolSize:0,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '散船贸易利润',
                    yAxisIndex:1,
                    type: 'bar',
                    color:'yellowgreen'
                    // data: {{l4s}}
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option);

        // fetchData(function (data) {
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis: {
        //             data: data.categories
        //         },
        //         series: [{
        //             // 根据名字对应到相应的系列
        //             name: '销量',
        //             data: data.data
        //         }]
        //     });
        // });
        // $.get('data.json').done(function (data){
        //     myChart.hideLoading();
        //     myChart.setOption({
        //         xAxis:{
        //             data: data.categories
        //         },
        //         series:[{
        //             name:'2018basis1',
        //             data:data.data
        //         }]
        //     })
        // })
    </script>

    <script type="text/javascript">
        var myChart4 = echarts.init(document.getElementById('inportPrice'), 'vintage');
        var myl4 = {{l4|tojson}};
        // myChart.showLoading();

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '进口玉米高粱大麦价格',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['内贸价格', '进口玉米成本','高粱', '大麦', '进口利润'],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // var texts = [date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            var date = new Date(params.value);
                            var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                            return texts.join('/');
                        },
                    }
                },
                // data: []
            },
            yAxis: [
                {
                    name:'价格',
                    type:'value',
                    min:function(value){
                        return value.min-50
                    }
                },
                {
                    name:'进口利润',
                    type:'value'
                }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', 'GDPrice', 'InportCorn', 'Sorghum', 'Barley', 'GDInportSpread'],
                source: myl4
            },
            series: [
                {
                    name: '内贸价格',
                    yAxisIndex:0,
                    type: 'line',
                    connectNulls:true,
                    color: 'black',
                    symbol:'triangle',
                    symbolSize:8,
                    itemStyle: {normal: {lineStyle: {width: 3}}},
                    // data: {{l4}}
                },
                {
                    name: '进口玉米成本',
                    yAxisIndex:0,
                    type: 'line',
                    connectNulls:true,
                    // symbol:'none',
                    // symbolSize:0,
                    // itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '高粱',
                    yAxisIndex:0,
                    type: 'line',
                    connectNulls:true,
                    color:'purple',
                    // symbol:'none',
                    // symbolSize:0,
                    // itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '大麦',
                    yAxisIndex:0,
                    type: 'line',
                    connectNulls:true,
                    color:'yellow'
                    // symbol:'none',
                    // symbolSize:0,
                    // itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4}}
                },
                {
                    name: '进口利润',
                    yAxisIndex:1,
                    type: 'bar',
                    color:'yellowgreen'
                    // data: {{l4s}}
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart4.setOption(option);
    </script>

    <script type="text/javascript">
        window.onresize = function(){
            myChart1.resize()
            myChart2.resize()
            myChart3.resize()
            myChart4.resize()
        }
    </script>

</body>
</html>