<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>信息概览</title>
    <!-- 引入 echarts.js -->
    <!-- <script src="js/echarts.js"></script> -->
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
    <font size="6" color="blue"><p align="center">产区价格信息</p></font>
    <div>
        <table id="originprice" border="1" cellpadding="10" align="center">
            {% for row in region_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb = document.getElementById("originprice"); 
        // tb.rows[3].cells[7].style.display='none';
        // tb.rows[2].cells[7].rowSpan = 2;
        // tb.rows[3].cells[8].style.display='none';
        // tb.rows[2].cells[8].rowSpan = 2;

        var length = tb.rows.length;
        console.log(length);
        for(var i=0;i<length+1;i++){
            tb.rows[0].cells[i].style.background='LightSteelBlue';
            tb.rows[7].cells[i].style.color='red';
        }
    </script>

    <div>
        <table id="price_summarize" border="1" cellpadding="10" align="center">
            {% for row in summarize_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb = document.getElementById("price_summarize"); 
        // tb.rows[3].cells[7].style.display='none';
        // tb.rows[2].cells[7].rowSpan = 2;
        // tb.rows[3].cells[8].style.display='none';
        // tb.rows[2].cells[8].rowSpan = 2;

        var length = tb.rows.length;
        console.log(length);
        for(var i=0;i<length+1;i++){
            tb.rows[0].cells[i].style.background='LightSteelBlue';
            if (i>3) {
                tb.rows[13].cells[i].style.background='LightSteelBlue';
                tb.rows[21].cells[i].style.background='LightSteelBlue';
                tb.rows[24].cells[i].style.background='LightSteelBlue';
            }
            
            // tb.rows[7].cells[i].style.color='red';
        }
    </script>

    <font size="6" color="blue"><p align="center">深加工企业库存（天）</p></font>
<!--     <div>
        <table id="deepco" border="1" cellpadding="10" align="center">
            {% for row in deepcarryout_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">
                    {{cell | replace('nan','')}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb2 = document.getElementById("deepco"); 
        tb2.rows[2].cells[0].style.display='none';
        tb2.rows[3].cells[0].style.display='none';
        tb2.rows[1].cells[0].rowSpan = 3;
        tb2.rows[5].cells[0].style.display='none';
        tb2.rows[6].cells[0].style.display='none';
        tb2.rows[4].cells[0].rowSpan = 3;
        tb2.rows[9].cells[0].style.display='none';
        tb2.rows[10].cells[0].style.display='none';
        tb2.rows[8].cells[0].rowSpan = 3;
        tb2.rows[12].cells[0].style.display='none';
        tb2.rows[13].cells[0].style.display='none';
        tb2.rows[14].cells[0].style.display='none';
        tb2.rows[15].cells[0].style.display='none';
        tb2.rows[11].cells[0].rowSpan = 5;
    </script> -->

    <font size="6" color="blue"><p align="center">饲料厂库存（天）</p></font>
<!--     <div>
        <table id="feedco" border="1" cellpadding="10" align="center">
            {% for row in feedcarryout_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb2 = document.getElementById("feedco"); 
        tb2.rows[2].cells[0].style.display='none';
        tb2.rows[3].cells[0].style.display='none';
        tb2.rows[4].cells[0].style.display='none';
        tb2.rows[5].cells[0].style.display='none';
        tb2.rows[1].cells[0].rowSpan = 5;
        tb2.rows[7].cells[0].style.display='none';
        tb2.rows[8].cells[0].style.display='none';
        tb2.rows[6].cells[0].rowSpan = 3;
        tb2.rows[10].cells[0].style.display='none';
        tb2.rows[11].cells[0].style.display='none';
        tb2.rows[12].cells[0].style.display='none';
        tb2.rows[9].cells[0].rowSpan = 4;
    </script> -->

</body>
</html>