{% extends "base.html" %}
{% block content %}

    <font size="6" color="blue"><p align="center">产区价格信息</p></font>
    <div class="container">
        <table id="originprice" class="table table-striped table-bordered">
            {% for row in region_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table> 
    </div>
    <script type="text/javascript">
        
    </script>

    <script type="text/javascript">
        var tb = document.getElementById("originprice"); 
        // tb.rows[3].cells[7].style.display='none';
        // tb.rows[2].cells[7].rowSpan = 2;
        // tb.rows[3].cells[8].style.display='none';
        // tb.rows[2].cells[8].rowSpan = 2;

        var length = tb.rows.item(0).cells.length;
        console.log(length);
        for(var i=0;i<length;i++){
            tb.rows[0].cells[i].style.background='LightSteelBlue';
            tb.rows[7].cells[i].style.color='red';
        }
    </script>

    <div class="container">
        <table class="table table-striped table-bordered table-condensed" id="price_summarize">
            {% for row in summarize_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb = document.getElementById("price_summarize"); 
        // tb.rows[3].cells[7].style.display='none';
        // tb.rows[2].cells[7].rowSpan = 2;
        // tb.rows[3].cells[8].style.display='none';
        // tb.rows[2].cells[8].rowSpan = 2;

        var length = tb.rows.item(0).cells.length;
        // console.log(length);
        for(var i=0;i<length;i++){
            tb.rows[0].cells[i].style.background='LightSteelBlue';
            if (i>3) {
                tb.rows[13].cells[i].style.background='LightSteelBlue';
                tb.rows[21].cells[i].style.background='LightSteelBlue';
                tb.rows[24].cells[i].style.background='LightSteelBlue';
            }
            
            // tb.rows[7].cells[i].style.color='red';
        }
    </script>

    <div id="factory115" class="chart600"></div>

    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('factory115'), 'vintage');
        var factory115_l = {{factory115_l|tojson}};
        var option = {
            title: {
                text: '115家深加工厂玉米库存',
                left:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer:{
                    type:'cross'
                }
            },
            legend: {
                data:['总库存', '场内库存', '外库库存', '未执行合同', '未运回拍卖粮', '周度变化', '锦州港价格', ],
                y:30
            },
            xAxis: {
                type:'category',
                axisLabel:{
                    // formatter:'{{value}}kg'
                    formatter: function (value, index) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                        // if (index === 0) {
                        //     texts.unshift(date.getFullYear());
                        // }
                        return texts.join('/');
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            var date = new Date(params.value);
                            var texts = [date.getFullYear(), date.getMonth()+1, date.getDate()];
                            return texts.join('/');
                        },
                    }
                },
                // data: []
            },
            yAxis: [
            {
                type:'value',
                min:function(value){
                    min = value.min*0.95
                    return min.toFixed(0)
                }
            },
            // {
            //     name:'万吨',
            //     type:'value',
            //     min:function(value){
            //         min = value.min*0.99
            //         return min.toFixed(0)
            //     }
            // },
            {
                type:'value',
                offset:30,
                min:function(value){
                    min = value.min*0.99
                    return min.toFixed(0)
                }
            }
            ],
            // dataZoom: [
            //     {
            //         type: 'slider',
            //         start:0,
            //         end:100
            //     }
            // ],
            dataset:{
                dimensions: ['date', 'zongkucun', 'changnei', 'waiku', 'weizhixing', 'weiyunhui', 'weekchange', 'jinzhou'],
                source: factory115_l
            },
            series: [
                {
                    name: '总库存',
                    yAxisIndex:0,
                    type: 'line',
                    connectNulls:true,
                    symbol:'none',
                    color:"DarkKhaki",
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    // data: {{l4s}}
                },
                {
                    name: '场内库存',
                    yAxisIndex:0,
                    type: 'bar',
                    stack: '总库存',
                },
                {
                    name: '外库库存',
                    yAxisIndex:0,
                    type: 'bar',
                    stack: '总库存',
                },
                {
                    name: '未执行合同',
                    yAxisIndex:0,
                    type: 'bar',
                    color:"LightCyan",
                    stack: '总库存',
                },
                {
                    name: '未运回拍卖粮',
                    yAxisIndex:0,
                    type: 'bar',
                    color:"Purple",
                    stack: '总库存',
                },
                {
                    name: '周度变化',
                    yAxisIndex:0,
                    type: 'bar',
                    color:"yellowgreen",
                },
                {
                    name: '锦州港价格',
                    yAxisIndex:1,
                    type: 'line',
                    connectNulls:true,
                    color:"Black",
                    itemStyle: {normal: {lineStyle: {width: 4}}},
                    // data: {{l4}}
                },
            ]
        };
        myChart1.setOption(option);
    </script>

    <script type="text/javascript">
        window.onresize = function(){
            myChart1.resize();
        }
    </script>

    <font size="6" color="blue"><p align="center">饲料厂库存（天）</p></font>
    <div class="container">
        <table id="feedco" class="table table-striped table-bordered" border="1" cellpadding="10" align="center">
            {% for row in feedcarryout_df.values %}
            <tr>
                {% for cell in row %}
                <td align="center">{{cell |  replace('nan','')}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        var tb2 = document.getElementById("feedco"); 

        var length = tb2.rows.item(0).cells.length;
        console.log(length);
        for(var i=0;i<length;i++){
            tb2.rows[0].cells[i].style.background='LightSteelBlue';
        }
        tb2.rows[2].cells[0].style.display='none';
        tb2.rows[3].cells[0].style.display='none';
        tb2.rows[4].cells[0].style.display='none';
        tb2.rows[5].cells[0].style.display='none';
        tb2.rows[1].cells[0].rowSpan = 5;
        tb2.rows[7].cells[0].style.display='none';
        tb2.rows[8].cells[0].style.display='none';
        tb2.rows[6].cells[0].rowSpan = 3;
        tb2.rows[10].cells[0].style.display='none';
        tb2.rows[11].cells[0].style.display='none';
        tb2.rows[9].cells[0].rowSpan = 3;
        tb2.rows[2].cells[3].style.display='none';
        tb2.rows[3].cells[3].style.display='none';
        tb2.rows[4].cells[3].style.display='none';
        tb2.rows[5].cells[3].style.display='none';
        tb2.rows[6].cells[3].style.display='none';
        tb2.rows[7].cells[3].style.display='none';
        tb2.rows[1].cells[3].rowSpan = 7;
        tb2.rows[9].cells[3].style.display='none';
        tb2.rows[10].cells[3].style.display='none';
        tb2.rows[11].cells[3].style.display='none';
        tb2.rows[8].cells[3].rowSpan = 4;
    </script>

{% endblock %}